<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://i.pinimg.com/originals/b5/fe/11/b5fe11ee521e206fca92bc865d89c742.png"
      alt=""
      height="200px"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan
        luctus mi ut sagittis. Nullam pretium dolor erat, at consequat ante
        rhoncus non in interdum urna. Quisque a elit ac risus pharetra euismod
        vel sed elit. Nulla facilisi. Donec at gravida velit. Nunc rutrum
        tristique condimentum.
      </a>
    </p>
  </div>
</div>
