<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://i.pinimg.com/originals/b5/fe/11/b5fe11ee521e206fca92bc865d89c742.png"
      cardTitle="Novo homem de ferro"
      cardDescrition="Marvel anuncia novo homem de ferro"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://i.pinimg.com/originals/b5/fe/11/b5fe11ee521e206fca92bc865d89c742.png"
      cardTitle="Novo homem de ferro"
    ></app-small-card>
    <app-small-card
      photoCover="https://i.pinimg.com/originals/b5/fe/11/b5fe11ee521e206fca92bc865d89c742.png"
      cardTitle="Novo homem de ferro"
    ></app-small-card>
    <app-small-card
      photoCover="https://i.pinimg.com/originals/b5/fe/11/b5fe11ee521e206fca92bc865d89c742.png"
      cardTitle="Novo homem de ferro"
    ></app-small-card>
  </div>
</div>
